.btn-projeto {
    background-color: #1446A0 ;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
 }


.preco-projeto {
    background-color: #EDE82A;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1446A0 ;
    font-weight: bold;

}

.produtos {
    margin-top: 20px;
}

