<section class="container-grid produtos">

    <div class="conteiner">
        <div class="row g-3" id="espaco-titulo">

            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch" >

                <div class="card text-center bg-light">
                    <img src="/assets/img/xbox.svg" alt="imagem console" class="card-img-top">

                    <div class="card-header preco-projeto">
                        R$ 2.500,00
                    </div>

                    <div class="card-body">
                        <h5 class="card-title"> Xbox One</h5>
                        <p class="card-text">Este console é considerado o melhor do mercado </p>
                    </div>

                    <div class="card-footer">

                        <form class="d-block">
                            <button class="btn btn-projeto">
                                Adicionar ao Carrinho
                            </button>
                        </form>
                        <small class="text-success">Em estoque</small>

                    </div>

                </div>

            </div>

            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">

                <div class="card text-center bg-light">
                    <img src="/assets/img/xbox.svg" alt="imagem console" class="card-img-top">

                    <div class="card-header preco-projeto">
                        R$ 2.500,00
                    </div>

                    <div class="card-body">
                        <h5 class="card-title"> Xbox One</h5>
                        <p class="card-text">Este console é considerado o melhor do mercado </p>
                    </div>

                    <div class="card-footer">

                        <form class="d-block">
                            <button class="btn btn-projeto">
                                Adicionar ao Carrinho
                            </button>
                        </form>
                        <small class="text-success">Em estoque</small>

                    </div>

                </div>

            </div>

            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">

                <div class="card text-center bg-light">
                    <img src="/assets/img/xbox.svg" alt="imagem console" class="card-img-top">

                    <div class="card-header preco-projeto">
                        R$ 2.500,00
                    </div>

                    <div class="card-body">
                        <h5 class="card-title"> Xbox One</h5>
                        <p class="card-text">Este console é considerado o melhor do mercado </p>
                    </div>

                    <div class="card-footer">

                        <form class="d-block">
                            <button class="btn btn-projeto">
                                Adicionar ao Carrinho
                            </button>
                        </form>
                        <small class="text-success">Em estoque</small>

                    </div>

                </div>

            </div>
            
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">

                <div class="card text-center bg-light">
                    <img src="/assets/img/xbox.svg" alt="imagem console" class="card-img-top">

                    <div class="card-header preco-projeto">
                        R$ 2.500,00
                    </div>

                    <div class="card-body">
                        <h5 class="card-title"> Xbox One</h5>
                        <p class="card-text">Este console é considerado o melhor do mercado </p>
                    </div>

                    <div class="card-footer">

                        <form class="d-block">
                            <button class="btn btn-projeto">
                                Adicionar ao Carrinho
                            </button>
                        </form>
                        <small class="text-success">Em estoque</small>

                    </div>

                </div>

            </div>

            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">

                <div class="card text-center bg-light">
                    <img src="/assets/img/xbox.svg" alt="imagem console" class="card-img-top">

                    <div class="card-header preco-projeto">
                        R$ 2.500,00
                    </div>

                    <div class="card-body">
                        <h5 class="card-title"> Xbox One</h5>
                        <p class="card-text">Este console é considerado o melhor do mercado </p>
                    </div>

                    <div class="card-footer">

                        <form class="d-block">
                            <button class="btn btn-projeto">
                                Adicionar ao Carrinho
                            </button>
                        </form>
                        <small class="text-success">Em estoque</small>

                    </div>

                </div>

            </div>

            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">

                <div class="card text-center bg-light">
                    <img src="/assets/img/xbox.svg" alt="imagem console" class="card-img-top">

                    <div class="card-header preco-projeto">
                        R$ 2.500,00
                    </div>

                    <div class="card-body">
                        <h5 class="card-title"> Xbox One</h5>
                        <p class="card-text">Este console é considerado o melhor do mercado </p>
                    </div>

                    <div class="card-footer">

                        <form class="d-block">
                            <button class="btn btn-projeto">
                                Adicionar ao Carrinho
                            </button>
                        </form>
                        <small class="text-success">Em estoque</small>

                    </div>

                </div>

            </div>    

        </div>

    </div>

    
</section>