<section class="produtos">

    <div class="container">       
        
            <div class="row g-3"  id="espaco-titulo">

                <div *ngFor="let produto of listaProdutos "class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch " >
    
                    <div class="card text-center bg-light" >
                        <img [src]= produto.imagem alt="imagem console" class="card-img-top">
    
                        <div class="card-header preco-projeto">
                            {{produto.preco}}
                        </div>
    
                        <div class="card-body">
                            <h5 class="card-title"> {{produto.titulo}}</h5>
                            <p class="card-text">{{produto.descricao}} </p>
                        </div>
    
                        <div class="card-footer">
    
                            <form class="d-block">
                                <button class="btn btn-projeto">
                                    Adicionar ao Carrinho
                                </button>
                            </form>
                            <small class="text-success">Em estoque</small>
    
                        </div>
    
                    </div>
    
                </div>               
    
            </div>
    
        
       
    </div>

    
</section>

<section>

 