<header> 
        
    <div class="topo">
        <a href="" class="pix-topo"> <img src="/assets/img/pix.svg" alt="Logo do pix"> </a>
        <a href="" class="texto-topo"> <img src="/assets/img/Aceitamos PIX.svg" alt="Logo aceitamos pix"> </a>        
    </div>

    <div class="container-grid cabecalho">

        <!-- <a href="#" class="link-menu-barras" onclick="mostrarMenu()"><img src="img/logo hamburguer.svg" alt="icone menu de barras"></a> -->
        <a href="#" id="menu-barra"><img src="/assets/img/logo hamburguer.svg" alt="icone menu de barras"></a>

        <a href="index.html"> <img class="logo" src="/assets/img/logo_game_mania.svg" alt="Logo da aplicação Game Mania"> </a>

        <form class=" pesquisa cabecalho" action="" >
            <input id="divBusca" type="text" placeholder="Precisando de alguma coisa?"/>
            <button id="btnBusca">
                <a href=""><img id="divLupa" src="/assets/img/pesquisar.svg" />  </a>
            </button>                                
        </form>

        <div class="cabecalho">
            <a href=""><img class="icones" src="/assets/img/entrega.svg" alt="Logo entrega"> </a>
            <a href=""><img class="icones" src="/assets/img/carrinho.svg" alt="Logo  carrinho de compra"> </a>
            <a href="login.html"><img class="icones" src="/assets/img/usuario.svg" alt="Logo area do usuario"> </a>
            <a href=""><img class="icones" src="/assets/img/chat.svg" alt="Logo chat"> </a>               
        </div>              
               
    </div> 
 
    <nav id="menu" class="menufundo">
        <a routerLink="/consoles">consoles</a>
        <a routerLink="/playstation">playstation</a>
        <a routerLink="/xbox">xbox</a>
        <a href="#">nitendo</a>
        <a href="#">pc</a>
        <a href="#">switch</a>
        <a href="#">lançamentos</a>
        <a href="#">usados</a>
    </nav>

    
</header>
