
<section class="container-grid carro">

  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img/banner_black.png" class="d-block w-100" alt="banner Black">
      </div>
      <div class="carousel-caption">
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img/banner2.png" class="d-block w-100" alt="banner jogos">
      </div>
      <div class="carousel-caption">
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/img/banner3.jpg" class="d-block w-100" alt="banner jogo">
  
      </div>
      <div class="carousel-caption">
        
      </div>
    </ng-template>
  </ngb-carousel>

</section>




<!-- <section class="banner container-grid" >
    
</section> -->


<section class="itens container-grid">

    <div class="item">
        <img src="/assets/img/xbox.svg" alt="Imagem console xbox one">
        <a href="consoles.html"> <button class="botao">
            Consoles
        </button> </a>
    </div>

    <div class="item">
        <img src="/assets/img/controles.svg" alt="Imagem controles">
        <button class="botao">
            Controles
        </button>
    </div>

    <div class="item">
        <img src="/assets/img/jogos.svg" alt="Imagem jogos">
        <button class="botao">
            Jogos
        </button>
    </div>
    
</section>

<section class="mapa container-grid">

</section>

