

.login {
    width: 700px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}







@media only screen and (max-width: 1200px) {
    
    .container-grid{
        width: 70%;
    }

} 
  
 @media only screen and (max-width: 843px) {
    .pix-topo img {
        width: 20px;
    }
   

     .texto-topo img {
        width: 165px;
    }

    .pesquisa {
        display: none;
    }
    
    .link-menu-barras {
        display: inline-block;        
    }

    #menu-barra {
        display: inline-block;
    }

   
    header {
        height: 140px; 
    }
    
    .menufundo {
        display: none;
    }

    .menufundo {
        /* display: none; */
       flex-direction: column; 
       justify-content: space-around;
       height: 300px;
       background-color: #EDE82A;
       width: 200px;
       position: absolute;
       z-index: 10;
        
    }

    .menu-ativo {
        display: flex;
    }

    .logo {
        width: 150px;
    }

    .icones {
        width: 30px;
        margin-left: 5px;
    }

    .mapa {
        width: 100%;
    }
}


@media only screen and (max-width: 940px) {
    .carro {
        width: 100%;
    }
    
    .itens {
        flex-direction: column;
        height: 1070px;
    }

    .mapa {
        background-size: 100%;
    }

    .itens img {
        height: 264px;           
    }
            
    .botao {
         width: 148px;
         font-size: 21px;
    }
 
}

@media only screen and (max-width: 1000px) {
   
    
    .blocos {
        margin-top: 20px;
        display: flex;        
        flex-direction: column;
       justify-content: space-between;
        
    }

    
    .rodape {
        height: 776px;;
    }

       
    .icone img {
        width: 40px;
        height: 40px;    }
    
    
    .textos {
        font-size: 14px;    
        
    }

  

    

}

@media only screen and (max-width: 400px) {
    .pix-topo img {
        width: 20px;
    }
   

     .texto-topo img {
        width: 165px;
    }
    
    .pesquisa {
        display: none;
    }
    
    .link-menu-barras {
        display: inline-block;        
    }

    header {
        height: 140px; 
    }
    
    .menufundo {
        display: none;
    }

    .menufundo {
        /* display: none; */
       flex-direction: column; 
       justify-content: space-around;
       height: 300px;
       background-color: #EDE82A;
       width: 200px;
       position: absolute;
        
    }

    .logo {
        width: 130px;
    }

    .icones {
        width: 25px;
        margin-left: 3px;
    }

    .link-menu-barras img {
        width: 40px;
    }

    .itens img {
        height: 230px;           
    }
            
    .botao {
         width: 140px;
         font-size: 21px;
    }

    .icone img {
        width: 35px;
        height: 35px;    }
    
    
    .textos {
        font-size: 14px;    
        
    }

    .itens {
        width: 100%;
    }

    .item {
        width: 100%;
    }
  
    .item img {
        width: 100%;
    }

    .item button {
        align-items: center;
    }
  

  

}


 .btn-projeto {
    background-color: #1446A0 ;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
 }


.preco-projeto{
    background-color: #EDE82A;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1446A0 ;
    font-weight: bold;

}

.produtos {
    margin-top: 20px;
}