<footer class="rodape ">

 

    <div class="blocos container-grid">

        <div class="elemento">

            <div>
                <span class="titulobloco">Contatos</span>                    
               
            </div>

            <div class="barra">
                
                <div class="icone">
                    <img src="/assets/img/icone-telefone.png" alt="icone Telefone"> 
                </div>

                <div class="textos">
                    <span>71 - 3525-9625</span>
                </div>

            </div>

            <div class="barra">
                <div class="icone">
                    <img src="/assets/img/icone-whats.png" alt="icone Whatsapp"> 
                </div>

                <div class="textos">
                    <span>71 - 9526-9632</span>
                </div>
            </div>

            <div class="barra">
                <div class="icone">
                    <img src="/assets/img/icone-email.png" alt="icone email"> 
                </div>

                <div class="textos">
                    <span>vendas@gamemania.com</span>
                </div>
            </div>

            <div class="barra">
                <div class="icone">
                    <img src="/assets/img/icone-skype.png" alt="icone skype"> 
                </div>

                <div class="textos">
                    <span>gamemaniabr</span>
                </div>
            </div>             

           
            
        </div>


        <div class="elemento">

            <div>
                <span class="titulobloco">Redes Sociais</span>                    
               
            </div>

            <div class="barra">
                <div class="icone">
                    <img src="/assets//img/icone-facebook.png" alt="icone Facebook"> 
                </div>

                <div class="textos">
                    <span>Facebook</span>
                </div>

            </div>

            <div class="barra">
                <div class="icone">
                    <img src="/assets/img/icone-instagram.png" alt="icone Instagram"> 
                </div>

                <div class="textos">
                    <span>Instagram</span>
                </div>

            </div>
            <div class="barra">

                <div class="icone">
                    <img src="/assets/img/icone-twitter.png" alt="icone Twitter"> 
                </div>

                <div class="textos">
                    <span>Twitter</span>
                </div>

            </div>
           
        
        </div>

        <div class="elemento">
            
            <div>
                <span class="titulobloco">Pagamento</span>                    
               
            </div>

            <div class="barra">
                <div class="icone">
                    <img src="/assets/img/icone-cartao.png" alt="icone cartões"> 
                </div>

                <div class="textos">
                    <span>Cartões</span>
                </div>

            </div>

            <div class="barra">
                <div class="icone">
                    <img src="/assets/img/icone-pix.png" alt="icone pix"> 
                </div>

                <div class="textos">
                    <span>PIX</span>
                </div>

            </div>

            <div class="barra">
                <div class="icone">
                    <img src="/assets/img/icone-boleto.png" alt="icone boleto"> 
                </div>

                <div class="textos">
                    <span>Boleto</span>
                </div>

            </div>
        
        </div>            
            

    </div>          

</footer>